{#
  Name: edit.html.twig
  Path: blog/Back/templates/pages/Medias/edit.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Medias - Edit{% endblock %}

{# Set content #}
{% block content %}

  <h1>Edit a Media</h1>
  <p><a href="admin/medias">Back to Medias</a></p>

  <form action="admin/edit_media/{{ media.id }}" method="post">
    <section>
      <label for="name">Media Name</label>
      <input type="text" name="name" id="name" placeholder="Media Name" value="{{ media.name|raw }}" required>
    </section>

    <section>
      <label for="alt">Media Description</label>
      <textarea name="alt" id="alt" placeholder="Media Description" required>{{ media.alt|raw }}</textarea>
    </section>

    <section>
      <label for="details">Media Details</label>
      <ul id="details">
        <li><b>Size</b>: {{ media.size / 1000 }}KB</li>
        <li><b>Uploaded at</b>: {{ media.uploaded_at|date("d/m/Y H:i", "Europe/Paris") }}</li>
        <li><b>Hash</b>: {{ media.hash }}</li>
        <li><b>Id</b>: {{ media.id }}</li>
        <li><b>URL</b>: {{ site_root }}{{ media.path|raw }}</li>
        <li><b>Type</b>: {{ media.type }}</li>
      </ul>
    </section>

    <section>
      <label for="preview">Media Preview</label>
      <div id="preview">
        {% if media.type|split("/")|first == "video" %}
          <video src="{{ site_root }}{{ media.path|raw }}" controls></video>
        {% elseif media.type|split("/")|first == "image" %}
          <img src="{{ site_root }}{{ media.path|raw }}" alt="{{ media.alt|raw }}">
        {% elseif media.type|split("/")|first == "audio" %}
          <audio src="{{ site_root }}{{ media.path|raw }}" controls></audio>
        {% else %}
          <p>Media type not supported</p>
        {% endif %}
      </div>
    </section>

    <input type="submit" value="Edit Media">
  </form>

{% endblock %}