{% extends 'base.element.html.twig' %}

{% block action_content %}

  <form action="?route=element&article={{GET.article}}&action=delete" method="post">
    <h1>Supprimer un élément existant</h1>
    <fieldset>
      <legend>Choisir un élément:</legend>
      <select name="element_id" id="element_id">
        {% for element in elements %}
          <option value="{{ element.id }}">#{{ element.id }} {{ element.balise }} | {{ element.text }}{{ element.alt }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <input type="submit" name="delete_submit" value="Supprimer cet élément">
  </form>
{% endblock %}