{% block stylesheet %}
  <link rel="stylesheet" href="./public/css/prism.css">
  <link rel="stylesheet" href="./public/css/prism-live.css">
{% endblock %}

{% block javascript %}
  <script src="./public/js/prism.js" type="module" defer async></script>
  <script src="./public/js/prism-live.js?load=css" type="module" defer async></script>
{% endblock %}

{% block action_content %}

	<form action="?route=element&article={{GET.article}}&action=edit&id={{ element.id }}" method="post">
		<h1>Editer {{ element.balise }} #{{ element.id }}</h1>

    <input type="hidden" name="element_id" value="{{ element.id }}">

		<fieldset>
			<legend>Éditer le texte qui sera contenu dans la balise</legend>
			<textarea name="text" id="text" cols="30" rows="10" placeholder="Mon élément HTML!">{{ element.text }}</textarea>
		</fieldset>

		<fieldset>
			<legend>Éditer le css personnalisé (facultatif)</legend>
      <textarea class="prism-live line-numbers fill no-whitespace-normalization language-css" name="css" id="css" cols="30" rows="10" spellcheck="false">{{ element.css }}</textarea>
		</fieldset>

		<fieldset>
			<legend>Éditer le src personnalisé (facultatif)</legend>
			<span>Ne fonctionnera que sur les balises HTML qui prennent en compte cet attribut.</span>
			<input type="text" name="src" id="src" placeholder="https://placehold.co/600x400/EEE/31343C" value="{{ element.src }}">
		</fieldset>

		<fieldset>
			<legend>Éditer le alt personnalisé (facultatif)</legend>
			<span>Ne fonctionnera que sur les balises HTML qui prennent en compte cet attribut.</span>
			<input type="text" name="alt" id="alt" placeholder="Mon image" value="{{ element.alt }}">
		</fieldset>

		<fieldset>
			<legend>Éditer le href personnalisé (facultatif)</legend>
			<span>Ne fonctionnera que sur les balises HTML qui prennent en compte cet attribut.</span>
			<input type="text" name="href" id="href" placeholder="https://www.google.fr" value="{{ element.href }}">
		</fieldset>

		<input type="submit" name="edit_submit" value="Valider les modifications">
	</form>
{% endblock %}
