{% extends 'base.element.html.twig' %}

{% block action_content %}

  {# Si 1 seul élément est défini, alors on affiche l'autre page #}
  {% if element is defined %}
    {% include 'Controller/ElementController/edit_element.html.twig' %}

  {# Sinon on affiche la page normale #}
  {% else %}
    <form action="?route=element&article={{GET.article}}&action=edit" method="post">
      <h1>Editer un élément existant</h1>
      <fieldset>
        <legend>Choisir un élément:</legend>
        <select name="element_id" id="element_id">
          {% for element in elements %}
            <option value="{{ element.id }}">#{{ element.id }} {{ element.balise }} | {{ element.text }}{{ element.alt }}</option>
          {% endfor %}
        </select>
      </fieldset>
      <input type="submit" name="edit_submit" value="Editer cet élément">
    </form>

  {% endif %}
{% endblock %}