{#
Name: index.html.twig
Path: default/Front/templates/pages/Articles/index.html.twig

Variables:
  - {@array} articles: Articles list to display:
    - {@object} article: Article to display:
      - {@object} image: Image to display:
        - {@string} path: Image path
        - {@string} alt: Image alt
      - {@string} title: Article title
      - {@string} description: Article description
      - {@string} date: Article date
      - {@string} author: Article author
      - {@object} category: Article category:
        - {@string} name: Category name
      - {@array} tags: Article tags list
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles{% endblock %}

{# Set meta #}
{% block meta %}
<meta name="author" content="{{ article.author }}">
{% endblock %}

{# Set content #}
{% block content %}
<h1>All Articles</h1>
{% if articles %}
<nav>
  {# Display each article #}
  {% for article in articles|sort((a, b) => a.getDate() < b.getDate()) %}

    {# Variables #}
    {% set image = article.image %}
    {% set title = article.title %}
    {% set description = article.description %}
    {% set date = article.date %}
    {% set author = article.author %}
    {% set category = article.category %}
    {% set tags = article.tags %}

    {# Display #}
    <article>
      <a href="articles/see/{{ article.getId() }}">
        <img src="{{ image.path }}" alt="{{ image.alt }}" loading="lazy">
        <h2>{{ title }}</h2>
      </a>
      <div>
        <p>{{ description }}</p>
        <p>Published on
          <time datetime="{{ date|date(" Y-d-m H:i") }}">{{ date|date("d/m/Y H:i", "Europe/Paris") }}</time>
          by <a href="./users/see/{{ author.id }}">{{ author.username }}</a>
        </p>
        <ul>Tags:
          {% for tag in tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
        <p>{{ category.name }}</p>
      </div>
    </article>
  {% endfor %}
</nav>
{% else %}
<p>No articles have been published.</p>
{% endif %}
{% endblock %}
