{#
  Nom: see.html.twig
  Path: default/Front/templates/pages/Articles/see.html.twig

  Variables:
    - {@object} article: Article to display:
      - {@object} image: Image to display:
        - {@string} path: Image path
        - {@string} alt: Image alt
      - {@string} title: Article title
      - {@string} description: Article description
      - {@string} date: Article date
      - {@string} author: Article author
      - {@object} category: Article category:
        - {@string} name: Category name
      - {@array} tags: Article tags list
#}
{% extends "index.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{# Variables #}
{% set image = article.getImage() %}
{% set title = article.getTitle() %}
{% set description = article.getDescription() %}
{% set date = article.getDate() %}
{% set author = article.getAuthor() %}
{% set category = article.getCategory() %}
{% set tags = article.getTags() %}

{# Affichage #}
{% block content %}
  <img src="{{ image.getPath() }}" alt="{{ image.getAlt() }}" loading="lazy">
  <div>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <p>Publié le {{ date|date("d/m/Y H:i", "Europe/Paris") }} par {{ author.getUsername() }}</p>
    <p>Tags: {{ tags|join(', ') }}</p>
    <p>{{ category.getName() }}</p>
  </div>
{% endblock %}
