{#
  Name: footer.html.twig
  Path: cuej/Front/templates/navigation/footer.html.twig
#}

<footer class="footer">
  <nav class="footer-nav row jc-sb gap-2" aria-label="Plan du site">
    <ul class="col gap-1">
      <a class="fs-2" href="{{ site_default_route }}">{{ site_name }}</a>
      <li><a class="footer-nav__article" href="#">Crédits</a></li>
      <li><a class="footer-nav__article" href="#">Mentions Légales</a></li>
      {% if is_logged %}
      <li><a class="footer-nav__article" href="./users/logout">Déconnexion</a></li>
      {% if is_admin %}
      <li><a class="footer-nav__article" href="./admin">Administration</a></li>
      {% endif %}
      {% else %}
      <li><a class="footer-nav__article" href="./users/login">Connexion</a></li>
      {% endif %}
    </ul>
    {% for cat, articles in site_navigation %}
    <ul class="footer-nav__list col gap-1">
      <a class="footer-nav__category fs-2" href="articles/see/{{ articles[0][1] }}" {{ cat==category.name ? 'aria-current="step"' }}>{{ cat }}</a>
      {% for art in articles %}
      <li><a class="footer-nav__article" href="articles/see/{{ art[1] }}" {{ art[1]==article.id ? 'aria-current="page"' }}>{{ art[0] }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </nav>
</footer>
