{#
  Name: menu.html.twig
  Path: cuej/Front/templates/header/menu.html.twig
#}

<header>
	<nav id="header-nav" class="header-nav center-x row" aria-label="Navigation du site">
		<a class="header-nav__home-btn" href="{{ site_default_route }}">
			<img class="header-nav__home" src="public/front/img/svg/icon-home.svg" alt="{{ site_name }}">
		</a>
		{% for cat, articles in site_navigation %}
		<a class="header-nav__category fs-2" href="articles/see/{{ articles[0][1] }}" {{ cat == category.name ? 'aria-current="step" id="active-category"' }}>
			<img src="public/front/img/svg/{{ cat|replace({' ' : '_'})|lower }}.svg" alt="{{ cat }}">
		</a>

		<ul class="header-nav__list row center-x">
			{% for art in articles %}
			<li>
				<a href="articles/see/{{ art[1] }}" {{ art[1] == article.id ? 'aria-current="page"' }}>{{ art[0] }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</nav>
</header>
