{#
  Name: menu.html.twig
  Path: cuej/Front/templates/header/menu.html.twig
#}

<header>
	<nav class="header-nav center-x row" aria-label="Navigation du site">
		<a href="{{ site_default_route }}">{{ site_name }}</a>
		{% for category, articles in site_navigation %}
		<div>
			<a class="fs-2" href="articles/see/{{ articles[0][1] }}">{{ category }}</a>
			<ul class="row">
				{% for article in articles %}
				<li><a href="articles/see/{{ article[1] }}">{{ article[0] }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</nav>
</header>
