{#
  Name: list.html.twig
  Path: cuej/Back/templates/pages/Blocks/list.html.twig

  Variables:
    - {@object} article: Article to display:
      - {@object} image: Image to display:
        - {@string} path: Image path
        - {@string} alt: Image alt
      - {@string} title: Article title
      - {@string} description: Article description
      - {@string} date: Article date
      - {@string} author: Article author
      - {@object} category: Article category:
        - {@string} name: Category name
      - {@array} tags: Article tags list

    - {@array} blocks: Array containing all blocks to display
      - {@object} block: Block to display:
        - {@string} name: Block name
        - {@json} json_content: Block content
        - {@integer} article_id: Article id
        - {@type} type: Block type
        - {@integer} weight: Block weight
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles - Blocks{% endblock %}

{# Custom JS #}
{% block javascript %}
  <script src="public/back/js/media-library/library.js" defer type="module"></script>
  <script src="public/back/js/blocks/blocks.js" defer type="module"></script>
{% endblock %}

{# Custom CSS #}
{% block stylesheet %}
  <link rel="stylesheet" href="public/back/css/pages/blocks.css">
{% endblock %}

{# Set content #}
{% block content %}

  <h1>{{ article.title }} | Blocks</h1>
  <div class="flex flex-gap-2">
    <p><a href="admin/articles">Back to Articles</a></p>
    <p><a href="articles/see/{{ article.id }}" target="_blank">See article in a new tab</a></p>
  </div>

  <p>You can edit the content of your article by creating blocks.</p>

  <script>
    // Global objects for handling fields
    window.fields = {};
  </script>

  <section class="flex flex-gap">

    <div class="content flex flex-column flex-1">
      <h2>Blocks created</h2>

      {# Display blocks #}
      <ul class="blocks-draggable" id="blockDraggingUl">
        {% if blocks|length > 0 %}
          {% for block in blocks %}
            <li class="blocks-draggable__item" draggable="true">{{ block.name }}</li>
          {% endfor %}
        {% else %}
          <li>No blocks</li>
        {% endif %}
      </ul>
    </div>

    {# Aside for block's creation #}
    <aside class="block-creation flex flex-column flex-1">
      {# Select a new block / See creator blocks #}
      <section id="step-1">
        <section id="block_selection">
          <h2>Create a block</h2>
          {% if available_blocks|length > 0 %}
            {% for available in available_blocks %}
              {# Store field information for the selected block type #}
              <script>
                window.fields['{{ available.name|split('.')|first }}'] = {{ available.fields|json_encode|raw }};
              </script>
              <button class="cuej-block__creation" data-articleID="{{ article.id }}" data-type="{{ available.name }}">{{ available.name }}</button>
            {% endfor %}
          {% else %}
            <p>No blocks available</p>
          {% endif %}
        </section>

        <section>
          <h2>Created blocks</h2>
          <ul class="created-blocks">
            {% if blocks|length > 0 %}
              {% for block in blocks %}
                <li class="created-blocks__block flex flex-between">
                  {{ block.name }}

                  <div class="actions flex flex-gap">
                    <button class="cuej-block__update" data-articleID="{{ article.id }}" data-type="{{ block.type }}" data-blockID="{{ block.id }}" data-weight="{{ block.weight }}" data-name="{{ block.name }}" data-json='{{ block.getJsonContentString() }}' title="Edit content"><i class="bi bi-pencil-square"></i></button>
                    <a href="admin/blocks/delete/{{ block.id }}" title="Delete" class="btn btn--danger"><i class="bi bi-trash3-fill"></i></a>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              <li>No blocks created</li>
            {% endif %}
          </ul>
        </section>
      </section>

    {# New block creation form #}
    <section id="step-2" class="hidden">
      <button id="cuej-block__creation-back">Back</button>
      <div id="cuej-block__creation-container"></div>
    </section>
  </aside>

{% endblock %}
