{#
  Name: list.html.twig
  Path: cuej/Back/templates/pages/Blocks/list.html.twig

  Variables:
    - {@object} article: Article to display:
      - {@object} image: Image to display:
        - {@string} path: Image path
        - {@string} alt: Image alt
      - {@string} title: Article title
      - {@string} description: Article description
      - {@string} date: Article date
      - {@string} author: Article author
      - {@object} category: Article category:
        - {@string} name: Category name
      - {@array} tags: Article tags list

    - {@array} blocks: Array containing all blocks to display
      - {@object} block: Block to display:
        - {@string} name: Block name
        - {@json} json_content: Block content
        - {@integer} article_id: Article id
        - {@type} type: Block type
        - {@integer} weight: Block weight
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles - Blocks{% endblock %}

{# Custom JS #}
{% block javascript %}
  <script src="public/back/js/blocks/blocks.js" defer type="module"></script>
{% endblock %}

{# Set content #}
{% block content %}
  <h1>{{ article.title }}</h1>
  <p>You can edit the content of your article by creating blocks.</p>

  <script>
    window.fields = {};
    window.existingFields = {};
  </script>

  {# Display blocks #}
  {% if blocks|length > 0 %}
    {% for block in blocks %}
      <p>{{ block.name }}</p>
    {% endfor %}
  {% else %}
    <p>No blocks</p>
  {% endif %}

  {# Aside for block's creation #}
  <aside>
    {# Select a new block / See creator blocks #}
    <section id="step__1">
      <section id="block_selection">
        <h2>Create a block</h2>
        {% if available_blocks|length > 0 %}
          {% for available in available_blocks %}
            <script>
              window.fields['{{ available.name|split('.')|first }}'] = {{ available.fields|json_encode|raw }};
            </script>
            <button class="cuej__block-creation" data-articleID="{{ article.id }}" data-type="{{ available.name|split('.')|first }}">{{ available.name|split('.')|first }}</button>
          {% endfor %}
        {% else %}
          <p>No blocks available</p>
        {% endif %}
      </section>

      <section>
        <h2>Created blocks</h2>
        <ul>
          {% if blocks|length > 0 %}
            {% for block in blocks %}
              <li>{{ block.name }}
                <a href="admin/blocks/delete/{{ block.id }}">Delete</a>
                <button class="cuej__block-update" data-articleID="{{ article.id }}" data-type="{{ block.type }}" data-blockid="{{ block.id }}" data-weight="{{ block.weight }}" data-name="{{ block.name }}" data-json='{{ block.getJsonContentString() }}'>
                  Update
                </button>
              </li>
            {% endfor %}
          {% else %}
            <li>No blocks created</li>
          {% endif %}
        </ul>
      </section>
    </section>

    <script>
      console.log(window.existingFields);
    </script>

    {# New block creation form #}
    <section id="step__2" class="hidden">
      <button id="cuej__block-creation-back">Back</button>
      <div id="cuej__block-creation-form"></div>
    </section>
  </aside>

{% endblock %}
