{#
  Name: see.html.twig
  Path: cuej/Front/templates/pages/Articles/see.html.twig

  Variables:
    - {@object} article: Article to display:
      - {@object} image: Image to display:
        - {@string} path: Image path
        - {@string} alt: Image alt
      - {@string} title: Article title
      - {@string} description: Article description
      - {@string} date: Article date
      - {@string} author: Article author
      - {@object} category: Article category:
        - {@string} name: Category name
      - {@array} tags: Article tags list
#}
{% extends "index.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{# Variables #}
{% set image = article.image %}
{% set title = article.title %}
{% set description = article.description %}
{% set date = article.date %}
{% set author = article.author %}
{% set category = article.category %}
{% set tags = article.tags %}

{# Affichage #}
{% block content %}
<section class="intro container gap-1" id="intro">
  <img class="intro__image center-x full-width" src="{{ image.path }}" alt="{{ image.alt }}" loading="lazy">
  <h1 class="intro__title">{{ title }}</h1>
  <p class="intro__description">{{ description|raw }}</p>
</section>
<article class="container testing-content">

</article>
{% endblock %}
