{#
Name: see.html.twig
Path: cuej/Front/templates/pages/Articles/see.html.twig

  Variables:
    - {@object} article: Article to display:
      - {@object} image: Image to display:
        - {@string} path: Image path
        - {@string} alt: Image alt
      - {@string} title: Article title
      - {@string} description: Article description
      - {@string} date: Article date
      - {@string} author: Article author
      - {@object} category: Article category:
        - {@string} name: Category name
      - {@array} tags: Article tags list
    - {@array} sibbling: Sibbling articles in same category
      - {@array} previous: Previous article in category
        - {@string} title: Article title
        - {@string} id: Article id
      - {@array} next: Next article in category
        - {@string} 0: Article title
        - {@string} 1: Article id
#}
{% extends "index.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="public/front/css/var_cat{{ category.id }}.css">
{% endblock %}

{% block javascript %}
<script src="public/front/js/article.js" type="module" defer></script>
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{# Variables #}
{% set image = article.image %}
{% set title = article.title %}
{% set description = article.description %}
{% set date = article.date %}
{% set author = article.author %}
{% set category = article.category %}
{% set tags = article.tags %}

{# Affichage #}
{% block content %}
<article>
  <section class="intro container gap-1" id="intro">
    <img class="intro__image center-x full-width" src="{{ image.path }}" alt="{{ image.alt }}" loading="lazy">
    <h1 class="intro__title">{{ title }}</h1>
    <p class="intro__description">{{ description|raw }}</p>
  </section>
  <section id="article" class="container">
    <div class="testing-content"></div>
  </section>
</article>
<nav class="container" aria-label="Navigation d'articles voisins">
  {% if sibbling.previous %}
  <a href="articles/see/{{ sibbling.previous.1 }}">{{ sibbling.previous.0 }}</a>
  {% endif %}
  {% if sibbling.next %}
  <a href="articles/see/{{ sibbling.next.1 }}">{{ sibbling.next.0 }}</a>
  {% endif %}
</nav>
<div class="progress-bar-container">
  <div class="progress-bar" id="article-progress">
  </div>
</div>
{% endblock %}
