{#
  Name: see.html.twig
  Path: default/Front/templates/pages/Articles/see.html.twig

  Variables:
    - {@object} article: Article to display:
      - {@object} image: Image to display:
        - {@string} path: Image path
        - {@string} alt: Image alt
      - {@string} title: Article title
      - {@string} description: Article description
      - {@string} date: Article date
      - {@string} author: Article author
      - {@object} category: Article category:
        - {@string} name: Category name
      - {@array} tags: Article tags list
#}
{% extends "index.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{# Variables #}
{% set image = article.image %}
{% set title = article.title %}
{% set description = article.description %}
{% set date = article.date %}
{% set author = article.author %}
{% set category = article.category %}
{% set tags = article.tags %}

{# Affichage #}
{% block content %}
  <img src="{{ image.path }}" alt="{{ image.alt }}" loading="lazy">
  <div>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <p>Publié le
      <time datetime="{{ date|date(" Y-d-m H:i") }}">{{ date|date("d/m/Y H:i", "Europe/Paris") }}</time>
      par <a href="./users/see/{{ author.id }}">{{ author.username }}</a>
    </p>
    <ul>Tags:
      {% for tag in tags %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
    <a href="./categories/see/{{ category.id }}">{{ category.name }}</a>
  </div>
{% endblock %}
