{#
  Name: list.html.twig
  Path: cuej/Back/templates/pages/Medias/list.html.twig

  Variables:
    - {@array} medias: Medias list to display:
      - {@object} media: Media to display:
        - {@integer} id: Media id
        - {@string} name: Media name
        - {@string} path: Media path
        - {@string} type: Media type
        - {@string} alt: Media alt
        - {@string} uploaded_at: Media uploaded date
        - {@string} hash: Media hash

#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Medias{% endblock %}

{# Set active menu #}
{% block javascript %}
  <script src="public/back/js/media-library/library.js" defer type="module"></script>
{% endblock %}

{# Set content #}
{% block content %}
	<h1>Medias</h1>
	<p>All the medias uploaded on the website.</p>

  <section class="flex flex-wrap">
	{% for media in medias %}
		<article data-type="{{ media.type }}" class="cuej-media">
      {% if media.type|split("/")|last in ["png", "jpg", "jpeg", "gif", "webp", "svg"] %}
        <img src="{{ media.path }}" alt="{{ media.alt }}" />
      {% else %}
        <img src="public/back/img/{{ media.type|split("/")|last }}.png" alt="{{ media.alt }}" />
      {% endif %}
      <div class="media-actions flex flex-column flex-center">
        <span class="media-name">{{ media.name }}.{{ media.type|split("/")|last }}</span>
        <div class="flex flex-gap flex-wrap">
          <a href="admin/medias/edit/{{ media.id }}" class="btn">Edit</a>
          <button class="action-delete cuej__delete_media btn btn--danger" data-id={{ media.id }}>Delete</button>
        </div>
      </div>
		</article>
	{% endfor %}
  </section>

	<a href="admin/medias/upload" class="btn btn--primary">Upload a new file</a>

{% endblock %}
