{#
  Name: edit.html.twig
  Path: default/Back/templates/pages/Articles/edit.html.twig
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Articles - Edit{% endblock %}

{# Custom JS #}
{% block javascript %}
  <script src="public/back/js/replace_image.js" defer></script>
{% endblock %}

{# Set content #}
{% block content %}

  <h1>Edit an Article</h1>

  <form action="admin/edit_article/{{ article.id }}" method="post" enctype="multipart/form-data">
    <section>
      <label for="title">Article Title</label>
      <input type="text" name="title" id="title" placeholder="Article Title" value="{{ article.title|raw }}" required>
    </section>

    <section>
      <label for="description">Article Description</label>
      <textarea name="description" id="description" placeholder="Article Description" required>{{ article.description|raw }}</textarea>
    </section>

    <section id="cuej-media">
      {% if article.image != null %}
        <img src="{{ article.image.path }}" alt="Article Image">
        <input type="button" id="cuej__delete_media" data-id="{{ article.image.id }}" value="Replace the image">
      {% else %}
        <label for="image">Article Image</label>
        <input type="file" name="image" id="image" accept=".png, .jpg, .jpeg, .gif, .webp, .svg" required>
      {% endif %}
    </section>

    <section>
      <label for="category_id">Article Category</label>
      <select name="category_id" id="category_id" required>
        {% for category in categories %}
          <option
            value="{{ category.id }}"
            {% if category.name == article.category.name %}
              selected
            {% endif %}
          >
            {{ category.name }}
          </option>
        {% endfor %}
      </select>
    </section>

    <section>
      <label for="rags">Article Tags (comma-separated)</label>
      <input type="text" name="tags" id="tags" placeholder="tag1, tag2, tag3..." required value="{{ article.tags|join(",") }}">
    </section>

    <fieldset>
      <legend>Publication Status</legend>

      <section>
        <label for="draft">Draft</label>
        <input type="radio" value="draft" name="status" id="draft" {% if article.isDraft() %}checked{% endif %}>

        <label for="published">Published</label>
        <input type="radio" value="published" name="status" id="published" {% if article.isPublished() %}checked{% endif %}>
      </section>
    </fieldset>

    <input type="submit" value="Edit Article">
  </form>

{% endblock %}
