{#
Name: index.html.twig
Path: cuej/Front/templates/pages/Categories/index.html.twig

Variables:
- {@object} category
  - {@string} name: Category name
#}
{% extends "index.html.twig" %}

{# Set title #}
{% block title %}Categories{% endblock %}

{# Set stylesheets #}
{% block stylesheets %}
  <link rel="stylesheet" href="public/front/css/categories.css">
{% endblock %}

{# Set javascript #}
{% block javascript %}
<script src="public/front/js/home.js" type="module" defer></script>
{% endblock %}

{# Set content #}
{% block content %}
<section class="land">
  <div class="land__foreground">
    <img src="public/front/img/logov2.png" alt="{{ site_name }}" class="site-title">

    <a href="#chapitres" class="site-scroll-indicator"><i class="bi bi-chevron-compact-down"></i></a>
    <div class="video-controls">
      <button id="play-pause-btn">
        <img src="public/front/img/svg/icon-play.svg" alt="Jouer">
      </button>
      {# <input type="range" id="progress-bar" value="0" max="100"> #}
      <button id="fullscreen-btn">
        <img src="public/front/img/svg/icon-fullscreen.svg" alt="Plein écran">
      </button>
    </div>
  </div>

  <video id="introvid" class="land__video" preload="metadata" poster="public/front/img/video_poster.png">
    <source src="public/front/vid/introvid.mp4" type="video/mp4">
    Votre navigateur ne peut pas lire la vidéo mais vous pouvez toujours la
    <a href="public/front/vid/introvid.mp4"> télécharger</a>
  </video>
</section>

<section id="chapitres">
  {% if categories %}
  <nav aria-label="Choix du chapitre">
    <ul class="selector">
      {# Display each categories #}
      {% for category in categories %}
        <li class="selector__chapter">
          <a href="categories/see/{{ category.id }}" style="--background: url(../../../{{ category.image.path }});">
            {# <img src="public/front/img/gif/gif{{ category.id }}.gif" alt="{{ category.name }}" class="selector__icon-img"> #}
            <h2 class="selector__chapter-name">{{ category.name }}</h2>
            <p class="selector__chapter-description">{{ category.description }}</p>
          </a>
        </li>
        {# <div class="selector__chapter-name">
          <h2>{{ category.name }}</h2>
        </div>
        <div class="selector__path">
          <img src="public/front/img/svg/" alt="">
          <a class="selector__icon" href="">
            <img class="selector__icon-img" src="public/front/img/gif/gif{{ category.id }}.gif" alt="{{ category.name }}">
          </a>
        </div> #}
      {% endfor %}
    </ul>
  </nav>
  {% else %}
  <p>Créez une catégorie pour l'afficher ici.</p>
  {% endif %}
</section>
{% endblock %}
