{#
Name: see.html.twig
Path: default/Front/templates/pages/Categories/see.html.twig

{#
  Name: index.html.twig
  Path: default/Front/templates/pages/Categories/index.html.twig

  Variables:
    - {@object} category: The actual category:
      - {@int} id: category id:
      - {@string} name: category name:
    - {@array} articles: Articles list to display:
      - {@object} article: Article to display:
        - {@object} image: Image to display:
          - {@string} path: Image path
          - {@string} alt: Image alt
        - {@string} title: Article title
        - {@string} description: Article description
        - {@string} date: Article date
        - {@string} author: Article author
        - {@object} category: Article category:
          - {@string} name: Category name
        - {@array} tags: Article tags list
#}
{% extends "index.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{# Set content #}
{% block content %}
<h1>{{ category.name }}</h1>
{% if articles %}
<nav>
  {# Display each articles #}
  {% for article in articles|sort((a, b) => a.getDate() > b.getDate()) %}

  {# Variables #}
  {% set image = article.image %}
  {% set title = article.title %}
  {% set description = article.description %}
  {% set date = article.date %}
  {% set author = article.author %}
  {% set tags = article.tags %}

  {# Affichage #}
  <article>
    <a href="articles/see/{{ article.id }}">
      <img src="{{ image.path }}" alt="{{ image.alt }}" loading="lazy">
      <h2>{{ title }}</h2>
    </a>
    <div>
      <p>{{ description }}</p>
      <p>Publié le
        <time datetime="{{ date|date(" Y-d-m H:i") }}">{{ date|date("d/m/Y H:i", "Europe/Paris") }}</time>
        par <a href="./users/see/{{ author.id }}">{{ author.username }}</a>
      </p>
    </div>
  </article>
  {% endfor %}
</nav>
{% else %}
<p>Aucun article n'a été trouvé dans cette catégorie.</p>
{% endif %}
{% endblock %}
