{#
Fields:
- block_src (file): { label: 'Image', accept: '.png, .jpg, .jpeg, .gif, .webp, .svg', max: '20MO'}
- block_position (select): { label: 'Position de l'image', options: 'Gauche, Droite' }
- block_size (select): { label: 'Taille de l'image', options: 'Dans les marges, Pleine largeur' }
- block_alt (text): { label: 'Texte alternatif', min: 3, max: 128, required: true }
- block_ref (text): { label: 'Légende', min: 3, max: 64, required: true }
- block_txt (textarea): { label: 'Contenu du texte', min: 10, max: 10000, required: true }
#}
<div class="contained--small row gap-3 imgandtxt media--{{ json.block_position|first|lower }}">
  <figure class="imgandtxt-block col gap-1 imgandtxt-block--{{ json.block_size|first|lower }}">
    <img class="imgandtxt-block__image rad-15" src="{{ media.path }}" alt="{{ json.block_alt }}">
    <figcaption class="imgandtxt-block__legend fs-i">{{ json.block_ref|raw }}</figcaption>
  </figure>
  <p class="imgandtxt-block__text">{{ json.block_txt }}</p>
</div>
