{#
  Nom: base.html.twig
  Path: default/templates/base.html.twig

  Variables globales:
  - SITE_SETTINGS: Paramètres du site
  - session: Contenu de la session
  - GET: Contenu de la requête GET
  - POST: Contenu de la requête POST
  - public: Chemin vers le dossier public du thème

  Variables locales:
  - is_logged: Vrai si l'utilisateur est connecté
  - is_admin: Vrai si l'utilisateur est connecté et est admin
  - lang: Langue du site

  - erreurs: Tableau des erreurs (n'est passé seulement si des erreurs sont présentes)
#}

{# Définitions variables #}
{% set is_logged = session.user is defined and (session.user_id is not null or session.user is not empty) %}
{% set is_admin = is_logged and session.user.role == 'admin' %}
{% set lang = "fr" %}

{# HTML #}
<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ SITE_SETTINGS.name }} - {% block title %}{% endblock %}</title>

    {# Style de base #}
    <base href="{{ SITE_SETTINGS.project_root }}">
		<link rel="stylesheet" href="public/css/index.css">

    {# Blocs stylesheet et JS #}
    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}
	</head>

	<body>
    <nav class="cuej-nav">
      <ul class="cuej-nave__links">
        <li class="cuej-nav__brand"><a href="./articles/list">{{ SITE_SETTINGS.name }}</a></li>
      </ul>

      <ul class="cuej-nave__links">
        {% if session.user is defined and (session.user_id is not null or session.user is not empty) %}
          <li><a href="./user/logout">Déconnexion</a></li>
        {% endif %}
      </ul>
    </nav>

    {# Affichage des erreurs #}
		{% if erreurs is defined %}
			<ul class="cuej__erreur">
				{% for erreur in erreurs %}
					<li>{{ erreur }}</li>
				{% endfor %}
			</ul>
		{% endif %}

    {# Affichage du contenu #}
		{% block content %}{% endblock %}
	</body>
</html>
